.p{
    color: blue;
    background-color: red;
}

.text{
    size: auto;
    background-color: grey;
    width: 50%;
}


.outputText{
    size: auto;
    background-color: red;
    width: 50%;
}

.qAndA{
    display: flex;

}

.left{
    width: 50%;
    background-color: blue;
    text-align: center;
}

.right{
    width: 50%;
    background-color: blueviolet;
    text-align: center;
}